@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=IM+Fell+Double+Pica:ital@0;1&family=IM+Fell+English+SC&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  background: radial-gradient(#252525, #121212);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  min-height: 80rem;
}

main {
  width: 90%;
  max-width: 50rem;
  margin: auto;
}

#about-items {
  padding: 2rem;
  border-radius: 6px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

main h2 {
  text-align: center;
  font-size: 3rem;
  font-family: 'IM Fell English SC';
  margin: 0 0 1.5rem 0;
  color: #121212;
}

#about-items ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

#about-items li {
  width: 10rem;
  text-align: center;
}

#about-items li img {
  height: 8rem;
  width: 6rem;
  object-fit: cover;
}

#about-items li h3 {
  margin: 0.5rem 0;
  text-transform: uppercase;
}

#about-items li p {
  font-size: 0.9rem;
}

#no-topic {
  color: #f5f5f5;
}

#subgenres {
  margin: 3rem auto;
}

#subgenres h2 {
  text-align: left;
  background: linear-gradient(40deg, #616161, #616161, #f5f5f5, #f5f5f5);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.5));
}

#subgenres menu {
  margin: 1rem 0;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  list-style: none;
}

#subgenres menu button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  background-color: transparent;
  color: #f5f5f5;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#subgenres menu button:hover {
  background-color: #121212;
}

#subgenres menu button.active {
  background-color: #121212;
}

#tab-content {
  padding: 1rem;
  border-radius: 6px;
  background-color: #121212;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

#tab-content h3 {
  margin: 0;
  color: #f5f5f5;
}

#tab-content p {
  color: #cecece;
}

#classics h2 {
  text-align: left;
  background: linear-gradient(40deg, #616161, #616161, #f5f5f5, #f5f5f5);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.5));
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  flex: 1;
  padding: 1rem;
  height: 300px;
  min-width: 200px;
  max-width: 200px;
  border-radius: 6px;
  color: #f5f5f5;
  background-color: #121212;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}
