@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=IM+Fell+Double+Pica:ital@0;1&family=IM+Fell+English+SC&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  background: radial-gradient(#252525, #121212);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  min-height: 80rem;
}

main {
  width: 90%;
  max-width: 50rem;
  margin: auto;
}

#about-items {
  padding: 2rem;
  border-radius: 6px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

main h2 {
  text-align: center;
  font-size: 3rem;
  font-family: 'IM Fell English SC';
  margin: 0 0 1.5rem 0;
  color: #121212;
}

#about-items ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

#about-items li {
  width: 10rem;
  text-align: center;
}

#about-items li img {
  height: 8rem;
  width: 6rem;
  object-fit: cover;
}

#about-items li h3 {
  margin: 0.5rem 0;
  text-transform: uppercase;
}

#about-items li p {
  font-size: 0.9rem;
}
